/* 清空 html 标签 的 css 默认样式 */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code,
form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0
}

body {
    background-color: #F2F2F2;
    letter-spacing: 1px;
}

label {
    display: block;
}

/* 默认输入框样式 */
input {
    display: inline-block;
    width: 300px;
    height: 50px;
    margin: 20px 5px;
    font-size: 16px;
    background: none;
    outline: 0;
    border: 1px dashed #5B4947;
    border-radius: 16px;
    text-indent: 16px;
}

input:focus {
    border: 2px solid #0092C7;
    background-color: #F9F9F9;
    box-shadow: 0 1px 8px #999999;
}

.inputError {
    border: 1px solid red;
    box-shadow: 0 0 8px orangered;
}

/* 顶部导航栏 */
.navBar {
    width: 100%;
    height: 75px;
    position: fixed;
    z-index: 999;
    background-color: #F2F2F2;
    box-shadow: 0 1px 12px #999999;
}

.navBar .navBtn {
    list-style: none;
    width: max-content;
    height: inherit;
    margin: 20px auto 0;
}

.navBar .navBtn li {
    float: left;
    margin: auto 20px;
    color: #5B4947;
    font-size: 22px;
    line-height: 50px;
    cursor: pointer;
}

.navBar .navBtn li:hover {
    border-bottom: 6px solid #0092C7;
}

/* 当导航栏选项卡被选中时就有这个样式 */
.navBar .navBtn .chosenLi {
    color: #0092C7;
    border-bottom: 6px solid #0092C7;
    font-weight: bold;
}

/* 中间重要展示区域 */
.mainBox {
    width: 100%;
    padding-top: 50px;
}

.mainBox .page {
    width: 100%;
    height: 860px;
}

.welcomePage, .repoPage, .settingPage {
    padding-top: 60px;
    box-sizing: border-box;
}

/* 首页区域 */
.mainBox .welcomePage .content {
    width: 70%;
    height: 70%;
    margin: 10px auto 0;
    text-align: center;
}

.mainBox .welcomePage .content p {
    color: #333333;
    font-size: 26px;
    margin: 24px 0;
    letter-spacing: 1px;
}

.mainBox .welcomePage .content img {
    width: 480px;
    margin-bottom: 10px;
}

/* 按键组 */
.mainBox .welcomePage .content .operation {
    width: 50%;
    margin: 0 auto;
}

.btn {
    text-decoration: none;
    display: inline-block;
    width: 180px;
    height: 50px;
    color: #0092C7;
    font-size: 18px;
    text-align: center;
    letter-spacing: 2px;
    line-height: 50px;
    border: 2px solid #0092C7;
    border-radius: 25px;
    margin: 18px 16px 0;
    transition: 100ms;
    cursor: pointer;
    background-color: transparent;
    outline: none; /* 消除 button 点击之后的蓝框 */
}

.btn:hover {
    color: #F5F5F5;
    background-color: #0092C7;
}

.dashed-btn {
    border: 2px dashed #5B4947;
    color: #5B4947;
}

.dashed-btn:hover {
    border: 2px solid #0092C7;
    color: #0092C7;
    background: none;
}

/* 隐藏样式 */
.hidden {
    display: none;
}

/* 笔记区域 */
.mainBox .repoPage .account {
    text-align: center;
}

.mainBox .repoPage .account img {
    width: 300px;
}

/* 笔记主要内容区域 */
.mainBox .repoPage .content {
    display: flex;
}

.mainBox .repoPage .content .left {
    height: 100%;
    flex: 2;
    position: relative;
    overflow-y: auto;
}

.mainBox .repoPage .content .left .leftBox {
    width: 100%;
    height: 860px;
    position: relative;
}

/* 分割线 */
.mainBox .repoPage .content .left:before {
    content: '';
    width: 0;
    height: 90%;
    display: block;
    position: absolute;
    right: 0;
    top: 6px;
    border-right: 1px dashed #5B4947;
}

.mainBox .repoPage .content .left .leftBox > ul {
    height: 100%;
    position: absolute;
    right: 0;
    top: 100px;
    margin-right: 10px;
}

/* 添加笔记本按钮 */
.mainBox .repoPage .content .left .addANotebookDiv {
    width: 50%;
    position: absolute;
    top: 36px;
    right: 0;
    text-align: center;
    margin: 12px 0;
}

.mainBox .repoPage .content .left .addANotebookDiv p {
    margin: 0 10px 6px 0;
}

.mainBox .repoPage .content .left .addANotebookDiv a {
    color: #5B4947;
    text-decoration: none;
}

.mainBox .repoPage .content .left .addANotebookDiv a:hover {
    color: #0092C7;
}

.mainBox .repoPage .content .left .leftBox > p {
    width: 50%;
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 10px;
}

.noteBookP {
    width: 80%;
    height: 36px;
    line-height: 36px;
    font-size: 16px;
    box-sizing: border-box;
    border-bottom: 1px dashed #5B4947;
}

.noteBookP a {
    text-decoration: unset;
    color: #5B4947;
    float: right;
}

.noteBookP a:hover {
    color: #0092C7;
}

a:hover i {
    transition: transform 700ms;
    transform: rotateZ(360deg);
}

li:hover p:nth-of-type(2) {
    transition: transform 700ms;
    transform: rotateX(360deg);
}

/* 交集选择器，只有 class 为 noteBookList 的 ul 才有效 */
/* 笔记本列表样式 */
ul.noteBookList {
    width: 50%;
    height: max-content;
}

ul.noteBookList li {
    width: 100%;
    height: max-content;
    line-height: 40px;
    list-style: none;
    border: 1px dashed #5B4947;
    color: #5B4947;
    padding-left: 1em;
    margin: 10px 0;
    box-sizing: border-box;
    transition: border 200ms;
}

ul.noteBookList li:hover, ul.noteBookList li.noteBookListChosen {
    border: 1px solid #0092C7;
    border-right: 6px solid #0092C7;
    cursor: pointer;
    position: relative;
    color: #0092C7;
    border-radius: 6px;
}

/* li 前面的小玩意 */
ul.noteBookList li.noteBookListChosen:before {
    content: '';
    width: 12px;
    height: 12px;
    display: block;
    background-color: #0092C7;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
}

/* 右边笔记区域的 li 样式 */
.right ul.noteBookList li:hover {
    border: 1px solid #0092C7;
    border-left: 6px solid #0092C7;
}

.right ul.noteBookList li:hover:before {
    content: '';
    width: 12px;
    height: 12px;
    display: block;
    background-color: #0092C7;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
}

.mainBox .repoPage .content .right {
    flex: 4;
    overflow-y: auto;
}

.mainBox .repoPage .content .right .rightBox {
    width: 100%;
    margin-left: 10px;
    box-sizing: border-box;
}

.mainBox .repoPage .content .right .rightBox .notebookPan p {
    width: 80%;
    text-align: center;
    margin-bottom: 10px;
}

/* 笔记界面控制面板的按钮 */
.mainBox .repoPage .content .right .rightBox .notebookPan p .btn {
    width: 130px;
    height: 30px;
    line-height: 30px;
    border-radius: unset;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0;
}

/* 删除按钮样式 */
#deleteNotebookNameBtn.btn {
    border: unset;
}

#deleteNotebookNameBtn.btn:hover {
    text-decoration: underline;
    color: red;
}

.mainBox .repoPage .content .right .rightBox .notebookPan p .btn:hover {
    border-radius: 15px;
}

.mainBox .repoPage .content .right .rightBox ul.noteBookList {
    width: 80%;
}

.mainBox .repoPage .content .right .rightBox .noteList {
    margin-top: 30px;
}

.mainBox .repoPage .content .right ul.noteBookList li p {
    line-height: 32px;
}

.mainBox .repoPage .content .right ul.noteBookList li p:nth-of-type(2) {
    line-height: 24px;
    font-size: 12px;
}

#backToNoteListBtn {
    width: max-content;
    height: max-content;
    border: unset;
    float: left;
}

/* 笔记界面富文本区域样式 */
#noteContentEditDiv {
    width: 80%;
    height: 100%;
    margin-left: 10px;
}
/* 标题区域 */
#noteContentEditDiv .noteTitle {
    text-align: center;
}

#noteContentEditDiv .noteTitle input {
    height: 36px;
    margin: 16px 0;
    border-radius: unset;
    text-indent: 10px;
}

#noteContentEditDiv .noteTitle input:focus {
    border: unset;
    margin: 17px 0;
}

/* 富文本输入区域 */
#noteContentEditDiv #editorBox {
    height: 600px;
    border: 2px dashed #5B4947;
    box-shadow: 0 1px 10px #999999;
    margin-top: 10px;
    letter-spacing: 4px;
}

/* 设置区域 */
.mainBox .settingPage {
    text-align: center;
}

.mainBox .settingPage > p {
    font-size: 20px;
    margin-top: 10px;
}

.mainBox .settingPage img {
    width: 300px;
    margin: 10px auto;
}

.mainBox .settingPage p {
    font-size: 18px;
    margin: 20px 0;
    letter-spacing: 2px;
}

.mainBox .settingPage input {
    width: 300px;
    height: 40px;
    margin: 10px 5px;
    border-radius: 12px;
    text-indent: 12px;
}

/* 退出登陆标识样式 */
.logout {
    text-decoration: unset;
    color: #5B4947;
    font-size: 14px;
}

.logout:hover {
    color: #0092C7;
}

/* 响应式样式 */
@media screen and (max-width: 640px) {
    /* 输入框样式 */
    input {
        width: 240px;
        height: 40px;
        margin: 10px 5px;
        font-size: 14px;
        border-radius: 12px;
        text-indent: 12px;
    }

    /* 顶部导航栏 */
    .navBar {
        height: 50px;
        box-shadow: 0 0 8px #999999;
    }

    .navBar .navBtn {
        margin: 10px auto 0;
    }

    .navBar .navBtn li {
        font-size: 18px;
        line-height: 36px;
    }

    /* 当导航栏选项卡被选中时就有这个样式 */
    .navBar .navBtn .chosenLi {
        border-bottom: 4px solid #0092C7;
    }

    /* 中间重要展示区域 */
    .mainBox {
        padding-top: 45px;
    }

    .mainBox .page {
        height: 580px;
    }

    .welcomePage, .repoPage, .settingPage {
        padding-top: 24px;
    }

    /* 首页区域 */
    .mainBox .welcomePage .content {
        width: 90%;
        height: 70%;
    }

    .mainBox .welcomePage .content p {
        font-size: 16px;
        margin: 18px 0;
    }

    .mainBox .welcomePage .content img {
        width: 80%;
        margin-bottom: 0;
    }

    /* 按键组 */
    .mainBox .welcomePage .content .operation {
        width: 100%;
    }

    .btn {
        width: 150px;
        height: 40px;
        font-size: 16px;
        line-height: 40px;
        border-radius: 20px;
    }

    /* 笔记区域 */
    .mainBox .repoPage .account img {
        width: 240px;
    }

    /* 设置区域 */
    .mainBox .settingPage img {
        width: 240px;
    }

    .mainBox .settingPage p {
        font-size: 14px;
        margin: 16px 0;
        letter-spacing: 1px;
    }

    .mainBox .settingPage input {
        width: 240px;
        height: 30px;
        margin: 6px 5px;
        border-radius: 8px;
        text-indent: 8px;
    }
}