<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.FilesDao">

    <insert id="saveFile" parameterType="entity.Files">
        INSERT INTO Jo_File(user_id, url, type, file_name)
            VALUES (#{userId}, #{url}, #{type}, #{fileName})
    </insert>

    <select id="listFile" parameterType="entity.Files" resultType="entity.Files">
        SELECT url, file_name FROM Jo_File WHERE user_id = #{userId} AND type = #{type}
    </select>

    <delete id="deleteFile">
        DELETE FROM Jo_File WHERE url = #{url}
    </delete>

    <!--更新文件信息 !-->
    <update id="updateFilename" >
        UPDATE Jo_File
        <set>
            <if test="files.url != null" > url = #{files.url}, </if>
            <if test="files.type != null" > type = #{files.type} ,</if>
            <if test="files.fileName != null" > file_name = #{files.fileName}, </if>
        </set>
        WHERE url = #{uri}
    </update>

</mapper>