<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.NoteBookDao">
    <select id="checkNotebookName" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM Jo_Notebook WHERE notebook_name=#{notebookName}
    </select>

    <insert id="insertNotebook" parameterType="entity.NoteBook">
        INSERT INTO Jo_Notebook (notebook_id,user_id,notebook_name,notebook_create_time,notebook_update_time)
        VALUES (#{notebookId},#{userId},#{notebookName},now(),now())
    </insert>

    <delete id="deleteNotebookByName">
        DELETE FROM Jo_Notebook WHERE notebook_name=#{notebookName}
    </delete>

    <select id="selectNotebookByNotebookId" parameterType="String" resultType="entity.NoteBook">
        SELECT
        notebook_id, user_id, notebook_name, notebook_create_time, notebook_update_time
        FROM Jo_Notebook WHERE notebook_id=#{notebookId}
    </select>

    <!-- 通过笔记本id查找笔记本 -->
    <select id="selectNotesByNotebookId" parameterType="String" resultType="entity.Note">
        SELECT * from  Jo_Note WHERE notebook_id = #{notebookId}
    </select>
    
</mapper>