<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.NoteBookDao">
    <select id="checkNotebookName" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM Jo_Notebook WHERE notebook_name=#{notebookName}
    </select>

    <insert id="insertNotebook" parameterType="entity.NoteBook">
        INSERT INTO Jo_Notebook (notebook_id,user_id,notebook_name,notebook_create_time,notebook_update_time)
        VALUES (#{notebookId},#{userId},#{notebookName},now(),now())
    </insert>

    <delete id="deleteNotebookByName">
        DELETE FROM Jo_Notebook WHERE notebook_name=#{notebookName}
    </delete>

    <select id="selectNotebookByNotebookId" parameterType="String" resultType="entity.NoteBook">
        SELECT
        notebook_id, user_id, notebook_name, notebook_create_time, notebook_update_time
        FROM Jo_Notebook WHERE notebook_id=#{notebookId}
    </select>

    <!-- 通过笔记本id查找笔记本 -->
    <select id="selectNotesByNotebookId" parameterType="String" resultType="entity.Note">
        SELECT * from  Jo_Note WHERE notebook_id = #{notebookId}
    </select>

    <!-- 通过userId查找笔记本 -->
    <select id="selectNoteBooksByUserId" parameterType="String" resultType="entity.NoteBook">
        SELECT * FROM Jo_Notebook WHERE user_id = #{userId}
    </select>

    <update id="updateNoteBook" parameterType="entity.NoteBook">
        UPDATE Jo_Notebook
        <set>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="notebookName != null">
                notebook_name = #{notebookName},
            </if>
            <if test="1 == 1">
                notebook_update_time = NOW(),
            </if>
        </set>
        WHERE notebook_id = #{notebookId}
    </update>
</mapper>